<div class="row">
    <div class="col">
        <table class="table table-hover table-border">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let persona of personas">
                    <td>{{ persona.id }}</td>
                    <td>{{ persona.name }}</td>
                    <td>{{ persona.apellido }}</td>
                    <td>
                        <button class="btn btn-warning" (click)="editar(persona)">Editar</button>
                        <button class="btn btn-danger" (click)="borrar(persona.id)">Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
