<div class="row">
    <div class="col">
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Nombre</label>
              <input type="text" class="form-control" name="name" aria-describedby="emailHelp" placeholder="Nombre" [(ngModel)]="selectedItem.nombre">
              <small id="emailHelp" class="form-text text-muted">Nombre de la categoriae</small>
            </div>
            <button type="submit" class="btn btn-primary" (click)="save()">Guardar</button>
          </form>
    </div>
</div>