<div class="row">
    <div class="col">
        <span class="text-center">
            <h2>Categorías</h2>
        </span>
        <table class="table table-hover table-border">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>{{ item.id }}</td>
                    <td>{{ item.nombre }}</td>
                    <td>
                        <button class="btn btn-warning" (click)="editar(item)">Editar</button>
                        <button class="btn btn-danger" (click)="borrar(item.id)">Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
